<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FORM</title>
    </head>

    <body>

        <form action="/form" method="POST">
            <header>Fill Form</header>
            <div>
                <input type="hidden" value="csrf_token">
            </div>

            <div>
                <label>Title:</label>
                <input type="text" name="title" value="">
            </div>

            <div>
                <label>Description:</label>
                <input type="text" name="description" value="">            
            </div>


            <div>
                <label>Author:</label>
                <input type="text" name="author" value="">
            </div>

            <div>
                <label>Edition:</label>
                <input type="radio" name="edition" value="1st" {{if (eq .Edition "1st")}} checked{{end}}>1st
                <input type="radio" name="edition" value="2nd" {{if (eq .Edition "2nd")}} checked{{end}}>2nd
                <input type="radio" name="edition" value="3rd" {{if (eq .Edition "3rd")}} checked{{end}}>3rd
                <input type="radio" name="edition" value="Unspecified" {{if (eq .Edition "Unspecified")}} checked{{end}}>Unspecified
            </div>

            <div>
                <input type="submit" value="Create Book">
            </div>
        </form>
        {{if .Title}}
            TITLE: {{.Title}}
            DESCRIPTION: {{.Description}}
            AUTHOR: {{.Author}}
            EDITION: {{.Edition}}
        {{end}}

        <footer>
            Powered by <a href="https://golang.org">Go</a>
        </footer>
    </body>
</html>